<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Woolen Wires</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <!-- <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css"> -->
  

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->


</head>
<body>

<div class="bg">
  <div class="section" style="background-color: rgba(46, 46, 46, 0.863);">

            <h2>A Solstice Celebration</h1>
            <h1>With Jacky and Stephen</h1>
            <h2>Join us for a Solstice Elopment celebration!</h2>
            <p> A wintery celebration to welcome the light into our 
                lives as we join our communities even more 
                closely. Come celebrate with us, amplify our joy, as we
                bring the light into the darkness on the shortest day
                of the year. 
            </p>
            <h2>Event Info</h2>
            <p>Location: <b>Wonderbar, Beacon NY</b></p>
            <p>Time: <b>4pm - 7pm</b></p>
            <p>Fair: Cocktail Hour</p>

  </div>
</div>

</body>
</html>